[submodule "node_modules/q"]
	path = node_modules/q
	url = https://github.com/kriskowal/q.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "node_modules/generic-pool"]
	path = node_modules/generic-pool
	url = https://github.com/coopernurse/node-pool.git
